streamlit==1.43.2
pandas==2.2.3
PyPDF2==3.0.1
faiss-cpu==1.7.4
python-dotenv==1.0.1

# LangChain ecosystem
langchain
langchain-community
langchain-text-splitters
langchain-openai
langchain-google-genai

# Gemini / Google GenAI
google-generativeai






